.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 39px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, .2);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  background-color: #D1D2D6;
}

/* .popup__button_active {
  background-color: #2F71E5;
  color: white;
  outline: none;
}

.popup__button:focus {
  background-color: #2F71E5;
  color: white;
  outline: none;
} */

/* .popup__form:valid + .popup__button {
  background-color: #2F71E5;
} */

.popup__form:valid input[type="submit"] {
  background-color: #2F71E5;
  color: #fff;
}

form:invalid input[type="submit"] {
  background-color: #D1D2D6;
  color: rgba(0, 0, 0, .2);
}