.place__article {
    width: 92%;
}

@media (max-width:780px) {
    .place__article {
        padding-left: 0px;
        padding-top: 7px;

        width: 98.5%;
    }
}


@media (max-width:360px) {
    .place__article {
        width: 98%;
    }
}

