@import url(./__section/root__section.css);

.root {
  background-color:#f5f6f7;
  min-height: 100vh;
  font-family: Inter, Roboto, RobotoSlab, SourceSansPro;
  padding-bottom: 194px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

@media screen and (max-width: 1024px) {
  .root {
    padding-bottom: 140px;
  }
}
