@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/screen/screen.css);
@import url(../blocks/search/search.css);
@import url(../blocks/search-results/search-results.css);
@import url(../blocks/news-card/news-card.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/author-info/author-info.css);
@import url(../blocks/button/button.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup-mobile/popup-mobile.css);
@import url(../blocks/image/image.css);

@import url(../blocks/lead-photo/lead-photo.css);
@import url(../blocks/disabled/disabled.css);
@import url(../blocks/enabled/enabled.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/not-found/not-found.css);
@import url(../blocks/menu-additional/menu-additional.css);
@import url(../blocks/footer/footer.css);

@import url(../blocks/saved-lead/saved-lead.css);
@import url(../blocks/bold/bold.css);
@import url(../blocks/saved/saved.css);


html {
  font-size: 24px;
}

@media (max-width:1280px) {
  html {
    font-size: 22px;
  }
}

@media (max-width:1080px) {
  html {
    font-size: 20px;
  }
}

@media (max-width:880px) {
  html {
    font-size: 18px;
  }
}

@media (max-width:780px) {
  html {
    font-size: 15px;
  }
}

body {
  background-color: #FFF;
}
