.popup-mobile__link-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    /* margin: 16px 0 0 16px; */
    padding: 0;
}