.footer__link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-family: Roboto;
    font-size: .75rem;
    line-height: 1rem;

    color: #1A1B22;
    
    padding: 0;
}

@media (max-width:640px) {
    .footer__link-container {
        flex-direction: column;
        margin: 0;
        font-size: 18px;
        line-height: 40px;
    }
}

@media (max-width:270px) {
    .footer__link-container {
        
        font-size: 15px;
        
    }
}

.footer__link-container_screen_mobile {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}