.news-card__keyword {
  background: url(../../../images/like_normal.svg) center no-repeat;
  background-color: #FFF;
  border: none;
  width: 1.67rem;
  height: 1.67rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  /* transition: transform .3s linear; */

  border-radius: 0.33rem;
}


/* .news-card:hover .news-card__like-icon {
  display: block;
} */