@import url(./__content/popup__content.css);
@import url(./__content_show-pic/popup__content_show-pic.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__block/popup__block.css);
@import url(./__label/popup__label.css);
@import url(./__input/popup__input.css);
@import url(./__button/popup__button.css);
@import url(./__button_active/popup__button_active.css);
@import url(./__link-line/popup__link-line.css);
@import url(./__link/popup__link.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./_type_edit/popup_type_edit.css);
@import url(./__error-message/popup__error-message.css);
@import url(./__error-message_show/popup__error-message_show.css);
@import url(./__bigphoto/popup__bigphoto.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: none;
  z-index: 2;
  padding-top: 253px;
  padding-left: 0px;
}

@media screen and (max-width: 640px) {
  .popup {
    padding-top: 56px;
    background-color: rgba(0, 0, 0, 0);
  }
}

.popup_func_signup_successful {
  padding-top: 300px;
}

@media screen and (max-width: 640px) {
  .popup_func_signup_successful {
    padding-top: 56px;
    background-color: rgba(0, 0, 0, 0);
  }
}
